@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* this is for imprting the font, we can get it from google font */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;    
  /* for smooth scroll during the ID shift(going from one to another component by triggring the id through 'a' tag) */
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}

@keyframes fadeIn{
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}